{
    "name": "Log time to google sheets",
    "version": "1.0",
    "description": "Log time to google sheets",
    "permissions": ["activeTab", "tabs", "storage", "declarativeContent", "identity"],
    "background": {
        "scripts": [
            "js/background.js"
        ],
        "persistent": false
    },
    "page_action": {
        "default_popup": "popup.html",
        "default_icon": {
            "16": "images/get_started16.png",
            "32": "images/get_started32.png",
            "48": "images/get_started48.png",
            "128": "images/get_started128.png"
        }
    },
    "icons": {
        "16": "images/get_started16.png",
        "32": "images/get_started32.png",
        "48": "images/get_started48.png",
        "128": "images/get_started128.png"
    },
      "oauth2": {
          "client_id": "yourClientId",
          "scopes": ["https://www.googleapis.com/auth/spreadsheets", "https://www.googleapis.com/auth/userinfo.profile"]
      },
    "content_security_policy": "script-src 'self' https://apis.google.com; object-src 'self'",
    "manifest_version": 2,
    "key": "yourKey"
}